{% extends "admin_base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4">Overview</h2>

<div class="row">
    <div class="col-lg-6 col-md-6 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Goals by Teams In Latest Tournament</h5>
                <canvas id="totalGoalsGraph"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    const ctxGoals = document.getElementById('totalGoalsGraph').getContext('2d');
    const totalGoalsChart = new Chart(ctxGoals, {
        type: 'bar',
        data: {
            labels: {{ teams|tojson }},
            datasets: [{
                label: 'Total Goals',
                data: {{ goals|tojson }},
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: { beginAtZero: true }
            }
        }
    });
</script>

{% endblock %}
