{% extends "base.html" %}

{% block title %}Matches{% endblock %}

{% block content %}
<div class="container">
    <h3 class="mt-4 mb-4">Past FIFA World Cup Matches</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Home Team</th>
                <th scope="col">Away Team</th>
                <th scope="col">Score</th>
                <th scope="col">Penalty</th>
                <th scope="col">Round</th>
                <th scope="col">Venue</th>
                <th scope="col">Referee</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(20) %}
            <tr>
                <td>Date of Game</td>
                <td>Home Team</td>
                <td>Away Team</td>
                <td>90 min game score</td>
                <td>Penalty Score</td>
                <td>Round</td>
                <td>Venue</td>
                <td>Referee</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation" class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
{% endblock %}