{% extends "base.html" %}

{% block title %}Matches{% endblock %}

{% block content %}
<div class="container">
    <h3 class="mt-4 mb-4">Past FIFA World Cup Matches</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Home Team</th>
                <th scope="col">Away Team</th>
                <th scope="col">Score</th>
                <th scope="col">Round</th>
                <th scope="col">Venue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>18 Dec 2022</td>
                <td>Argentina</td>
                <td>France</td>
                <td>3 - 3 (Argentina won 4-2 on penalties)</td>
                <td>Final</td>
                <td>Lusail Stadium</td>
            </tr>
            <tr>
                <td>17 Dec 2022</td>
                <td>Croatia</td>
                <td>Morocco</td>
                <td>2 - 1</td>
                <td>Third Place Playoff</td>
                <td>Khalifa International Stadium</td>
            </tr>
            <tr>
                <td>14 Dec 2022</td>
                <td>France</td>
                <td>Morocco</td>
                <td>2 - 0</td>
                <td>Semi-Final</td>
                <td>Al Bayt Stadium</td>
            </tr>
            <tr>
                <td>13 Dec 2022</td>
                <td>Argentina</td>
                <td>Croatia</td>
                <td>3 - 0</td>
                <td>Semi-Final</td>
                <td>Lusail Stadium</td>
            </tr>
            <tr>
                <td>10 Dec 2022</td>
                <td>Morocco</td>
                <td>Portugal</td>
                <td>1 - 0</td>
                <td>Quarter-Final</td>
                <td>Al Thumama Stadium</td>
            </tr>
            <tr>
                <td>10 Dec 2022</td>
                <td>England</td>
                <td>France</td>
                <td>1 - 2</td>
                <td>Quarter-Final</td>
                <td>Al Bayt Stadium</td>
            </tr>
            <tr>
                <td>9 Dec 2022</td>
                <td>Brazil</td>
                <td>Croatia</td>
                <td>1 - 1 (Croatia won 4-2 on penalties)</td>
                <td>Quarter-Final</td>
                <td>Education City Stadium</td>
            </tr>
            <tr>
                <td>9 Dec 2022</td>
                <td>Netherlands</td>
                <td>Argentina</td>
                <td>2 - 2 (Argentina won 4-3 on penalties)</td>
                <td>Quarter-Final</td>
                <td>Lusail Stadium</td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
